<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ET</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ET</ion-title>
      <div class="investment-advisor">
        <ion-button class="backbtn" size="large" routerLink="/home">⬅</ion-button>
      </div>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content>
  <img src="{{imageSource}}" style="width: 400px;"/>
  <ion-button (click) ="takePicture()">Camera</ion-button>
</ion-content>



