body{
  background-color:#001C30 ;
}
.expense-tracker{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 5px;
}
.investment-advisor{
  // position: absolute;
  // display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 65px;
  margin-bottom: 2px;

}
.main-text{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;

}
.scroll-down{
  display: flex;
  justify-content: center;
  align-items: center;
}